<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- mapper schema -->
    
<mapper namespace="com.karma_and_tumblbug.p1.comments.CommentsDAO">
	<select id="getList" parameterType="CommentsDTO" resultType="CommentsDTO">
		select * from comments where num=#{num} order by commentNum desc
	</select> 
	
	<insert id="setInsert" parameterType="CommentsDTO">
		insert into comments values(board_seq.nextval, #{num}, #{writer}, #{contents}, sysdate)	
	</insert>
	
	<delete id="setDelete" parameterType="CommentsDTO">
		delete from comments where commentNum=#{commentNum}
	</delete>
   
</mapper>