<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.karma_and_tumblbug.p1.project.ProjectDAO">

	<select id="getProjectList" resultType="ProjectDTO">
		select * from Project
	</select>

	<select id="getProject" parameterType="ProjectDTO"
		resultType="ProjectDTO">
		select * from project where num=#{num}
	</select>

	<select id="getProjectMedia" parameterType="ProjectDTO"
		resultType="MediaDTO">
		select * from project_media where num=#{num}
	</select>
	<select id="getProjectGift" parameterType="ProjectDTO"
		resultType="GiftDTO">
		select * from project_gift where num=#{num}
	</select>
	<select id="getProjectNum" resultType="java.lang.Long">
		select project_seq.nextval
		from dual
	</select>
	<insert id="setInsertProject" parameterType="ProjectDTO">
		insert into project
		(num, id, title, category,makerName,media_id,search_id)
		values(#{num},#{id},#{title},#{category},#{makerName},pMedia_seq.nextval,pSearch_seq.nextval)
	</insert>
	<select id="getMyProject" parameterType="MembershipDTO"
		resultType="ProjectDTO">
		select * from project where id=#{id} order by num desc
	</select>

	<update id="setUpdateProject" parameterType="ProjectDTO">
		update project set
		state=#{state},
		id=#{id},
		title=#{title},
		summary=#{summary},
		category=#{category},
		urlAddress=#{urlAddress},
		makerName=#{makerName},
		makerSummary=#{makerSummary},
		makerLocation=#{makerLocation},
		targetAmount=#{targetAmount},
		openDate=#{openDate},
		closeDate=#{closeDate},
		projectStory=#{projectStory},
		email=#{email},
		phone=#{phone},
		bankAccount=#{bankAccount},
		taxReceipt=#{taxReceipt},
		media_id=#{media_id},
		search_id=#{search_id}
		where num=#{num}
	</update>
	
	<delete id="setDeleteProject" parameterType="ProjectDTO">
		delete from project where num=#{num}
	</delete>
	
	
	
	<insert id="setFileInsert" parameterType="MediaDTO">
		insert into project_media
		(media_id,filenum,division,filename,originename)
		values(#{media_id},project_seq.nextval,#{division},#{fileName},#{origineName})
	</insert>
	
	
	<select id="getMyMedia" parameterType="ProjectDTO" resultType="MediaDTO">
		select * from project_media
		where media_id=#{media_id}
	</select>
	
	
	<delete id="setFileDelete" parameterType="MediaDTO">
		delete project_media where fileNum=#{fileNum}
	</delete>
	
	<select id="getFileName" parameterType="MediaDTO" resultType="MediaDTO">
		select * from project_media where fileNum=#{fileNum}
	</select>

</mapper>