<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.karma_and_tumblbug.p1.rescue.RescueDAO">

	<update id="setUpdate" parameterType="RescueDTO">
		update rescue set status=#{status}, zoneSn=#{zoneSn}, resDate=#{resDate}, province=#{province}, 
		city=#{city}, location=#{location}, species=#{species},kind=#{kind}, sex=#{sex}, age=#{age}, 
		color=#{color}, desex=#{desex}, character=#{character}, weight=#{weight}, health=#{health}, 
		feature=#{feature}, adoptDate=#{adoptDate},returnDate=#{returnDate} 
		where sn=#{sn}
	</update>


	<delete id="setDelete" parameterType="RescueDTO">
		delete rescue where sn=#{sn}
	</delete>

	<select id="getSelect" parameterType="RescueDTO" resultType="RescueDTO">
   		 select * from rescue where sn=#{sn}
 	</select>
 	
	
      
 <select id="getList"  parameterType="RescueDTO" resultType="RescueDTO">
       select * from rescue 
       
       <where>
       		<if test="status != null">
        	   status like '%'||#{status}||'%'
        	</if>
        	<if test="sn != null">
        	   AND sn like '%'||#{sn}||'%'
        	</if>
        	<if test="zoneSn != null">
        	   AND zoneSn like '%'||#{zoneSn}||'%'
        	</if>
        	<if test="species != null">
        	   AND species like '%'||#{species}||'%'
        	</if>
        	<if test="kind != null">
        	   AND kind like '%'||#{kind}||'%'
        	</if>
        	<if test="province != null">
        	   AND province like '%'||#{province}||'%'
        	</if>
        	<if test="city != null">
        	   AND city like '%'||#{city}||'%'
        	</if>
        	<if test="feature != null">
        	   AND feature like '%'||#{feature}||'%'
        	</if>
      
       
       </where>
       

	</select> 
	
			

	
	<insert id="setInsert" parameterType="RescueDTO">
		insert into rescue values(#{status}, #{sn}, #{zoneSn}, #{resDate}, #{province}, #{city}, #{location}, 
		#{species}, #{kind}, #{sex}, #{age}, #{color}, #{desex}, #{character}, #{weight}, #{health}, #{feature}, 
		#{adoptDate}, #{returnDate})
	</insert>
	
	

</mapper>

   
