<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.karma_and_tumblbug.p1.rescue.RescueDAO">

	<update id="setUpdate" parameterType="RescueDTO">
		update rescue set status=#{status}, zoneSn=#{zoneSn}, resDate=#{resDate}, province=#{province}, 
		city=#{city}, location=#{location}, species=#{species},kind=#{kind}, sex=#{sex}, age=#{age}, 
		color=#{color}, desex=#{desex}, character=#{character}, weight=#{weight}, health=#{health}, 
		feature=#{feature}, adoptDate=#{adoptDate},returnDate=#{returnDate} 
		where sn=#{sn}
	</update>


	<delete id="setDelete" parameterType="RescueDTO">
		delete rescue where sn=#{sn}
	</delete>

	<select id="getSelect" parameterType="RescueDTO" resultType="RescueDTO">
   		 select R.*, RF.*
			from rescue R left join rescueFile RF
			on R.sn = RF.sn
		      where R.sn = #{sn}
 	</select>
 	
 	<resultMap type="RescueDTO" id="getSelectResult">
 		<id property="sn" column="sn" />
 		<result property="status" column="status"/>
 		<result property="zoneSn" column="zoneSn"/>
 	    <result property="resDate" column="resDate"/>
 		<result property="province" column="province"/>
 		<result property="city" column="city"/>
 	    <result property="location" column="location"/>
 	    <result property="species" column="species"/>
 		<result property="kind" column="kind"/>
 	    <result property="sex" column="sex"/>
 	    <result property="age" column="age"/>
 		<result property="color" column="color"/>
 	    <result property="desex" column="desex"/>
 	    <result property="character" column="character"/>
 		<result property="weight" column="weight"/>
 	    <result property="health" column="health"/>
 	    <result property="feature" column="feature"/>
 		<result property="adoptDate" column="adoptDate"/>
 	    <result property="returnDate" column="returnDate"/>
 	    <association property="rescueFileDTO" javaType="RescueFileDTO" resultMap="rescueFileResult">
 	    
 	    </association>
 	</resultMap>
 	
 	<resultMap type="RescueFileDTO" id="rescueFileResult">
 		<id property="num" column="num"/>
 		<result property="fileName" column="fileName"/>
 		<result property="originalName" column="originalName"/>
 	</resultMap>
 	
 	<select id="getSelectFile" resultType="RescueFileDTO" parameterType="RescueDTO">
		select * from rescueFile where sn=#{sn}
	</select>
	
      
 <select id="getList"  parameterType="RescueDTO" resultType="RescueDTO">
       select * from rescue 
       
       <where>
       		<if test="status != null">
        	   status like '%'||#{status}||'%'
        	</if>
        	<if test="sn != null">
        	   AND sn like '%'||#{sn}||'%'
        	</if>
        	<if test="zoneSn != null">
        	   AND zoneSn like '%'||#{zoneSn}||'%'
        	</if>
        	<if test="species != null">
        	   AND species like '%'||#{species}||'%'
        	</if>
        	<if test="kind != null">
        	   AND kind like '%'||#{kind}||'%'
        	</if>
        	<if test="province != null">
        	   AND province like '%'||#{province}||'%'
        	</if>
        	<if test="city != null">
        	   AND city like '%'||#{city}||'%'
        	</if>
        	<if test="feature != null">
        	   AND feature like '%'||#{feature}||'%'
        	</if>
      
       
       </where>
       

	</select> 
	
			

	
	<insert id="setInsert" parameterType="RescueDTO">
		insert into rescue values(#{status}, #{sn}, #{zoneSn}, #{resDate}, #{province}, #{city}, #{location}, 
		#{species}, #{kind}, #{sex}, #{age}, #{color}, #{desex}, #{character}, #{weight}, #{health}, #{feature}, 
		#{adoptDate}, #{returnDate})
	</insert>
	
	<insert id="setFileInsert" parameterType="RescueFileDTO">
	 	insert into RescueFile values(FN_SEQ.nextval, #{sn}, #{fileName}, #{originalName})
	</insert>
	
	

</mapper>

   
